@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Gochi+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Marck+Script&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

/*header-dropdown*/


/* header */

.aheader {

    font-weight: 900;
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Marck Script', cursive;

}


.logo {
    width: 350px;
    height: 180px;
    cursor: pointer;
    padding-top: 30px;

}

.nav-links {
    list-style: none;


}

.nav-links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav-links li .aheader {
    transition: all 0.4s ease 0s;
}

.nav-links li .aheader:hover {
    transition: all 0.4s ease 0s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

button {
    width: 200px;
    height: 40px;
    padding: 5px 25px;
    margin-right: 25px;
    border: 1px, solid, black;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    font-size: 20px;
    color: white;
}

.aheader:hover {
    font-size: 30px;
}

/* Body */

.fonthead {
    font-family: 'Marck Script', cursive;
}

body {
    font-family: 'Lora', serif;
}

.bodyindex {
    background-color: white;


}

.main-content {

    padding: 5px;
    margin: 10px;
    background-color: white;


}

.fotomain {
    margin-top: 2.2em;
    height: auto;
    width: 90%;
    max-width: 100%;
    display: block;
    padding-top: 50px;

}

.fotomob {
    display: none;
}

.container-1 {
    display: flex;
}

.container-1 div {
    padding: 20px;

}


.box2 {
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
}





h2 p {
    border: 1px solid black;
}

/*footer*/

.footer {
    padding: 40px 0;
    background-color: white;
}

.footer .social {
    text-align: center;
}

.footer .social a {
    font-size: 40px;
    color: inherit;
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding-top: 0px;
    opacity: 0.75;
}

.footer .social a:hover {
    font-size: 45px;
}

.copyright {
    font-size: 15px;
    text-align: center;
}

/*Index*/

.info {
    font-weight: bold;
}

/*Mondi lodge*/

.mondi-info {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 70px;
    border: 1px solid black;
    background-color: white;
}

.mondi-box1 {
    padding-bottom: 15px;
}

.mapouter {
    position: relative;
    text-align: center;
    padding-left: 400px;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

/*over*/

.flexover {
    display: flex;
    justify-content: space-between;
}


.over-1 {
    border: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

.over-2 {
    border: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}

.flexover2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.over-3 {
    border: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}

.over-4 {
    border: black 1px solid;
    background-color: white;
    margin: 7px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}


.imgsas {
    height: 400px;
    width: 300px;

}

.imgant {
    height: 400px;
    width: 600px;
    margin-top: 18px;

}

.imgmars {
    height: 500px;
    width: 430px;

}

.flexover3 {
    display: flex;
    justify-content: space-between;

}

.over-5 {
    border: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

.over-6 {
    border: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}




/*programma*/

.flexparent {
    display: flex;
    justify-content: space-evenly;
    text-align: right;

}



.box-1 {
    border-right: black 1px solid;
    background-color: white;
    margin: 10px;
    padding: 15px;
    font-weight: bold;
}

.box-2 {
    border-right: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
}

.box-3 {
    border-right: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
}

.flex2 {
    display: flex;
    justify-content: space-evenly;

}

.box-4 {
    border-left: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
}

.box-5 {
    border-left: black 1px solid;
    background-color: white;
    margin: 5px;
    padding: 15px;
    font-weight: bold;

}

.box-6 {
    margin: 5px;
    padding: 15px;
    font-weight: bold;
}

.fleximg {
    display: flex;
    justify-content: space-around;
}

.yogamob {
    display: none;
}

.yoga2 {
    height: 320px;
    width: 400px;
    align-items: center;
    margin: 10px;
}


.etenmob {
    display: none;
}

.eten1 {
    height: 320px;
    width: 400px;
    align-items: center;
    margin: 10px;
}

.mondiimg {
    height: 320px;
    width: 400px;
    align-items: center;
    margin: 10px;
}

.linkprog {
    font-weight: 10px;
}



/*Info*/

.hinfo {
    text-align: center;
}

.flexinfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.flexinfofoto {
    display: flex;
    justify-content: space-evenly;
}

.fotoinfo1 {
    align-items: center;

    margin-right: 75px;
    margin-top: 25px;
}

.fotoinfo2 {
    align-items: center;
    width: 800px;
    height: 350px;
    margin-right: 15px;
    margin-left: 75px;
    margin-top: 25px;
}

.fotoinfo3 {
    align-items: center;
    width: 700px;
    height: 410px;
    margin-right: 80px;
    margin-top: 5px;
}

.info-2 {
    border: black 1px solid;
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.info-3 {
    border: black 1px solid;
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.info-4 {
    border: black 1px solid;
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.info-5 {
    border: black 1px solid;
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}



.strong {
    font-size: 18px;
    text-align: center;
}

/*sign up*/
.formulier {

    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 50px;
    margin-right: 300px;
    text-align: center;


}

#bericht {
    width: 250px;
    height: 100px;
    padding: 5px;
    margin-left: 5px;
}

/*Media Queries*/

@media (max-width:1000px) {
    .fotomain {
        display: none;
    }

    .logo {
        width: 150px;
        height: 100px;
        padding-left: 15px;

    }

    .aheader {
        font-size: 15px;


    }

    .container-1 {
        display: block;
        text-align: center;
        margin-left: 8px;
    }

    .fotomob {
        display: block;
        height: 250px;
        width: 250px;
        padding-left: 70px;
        padding-bottom: 20px;
    }

    .formulier {
        display: block;
        border: none;
        text-align: center;
        padding: 0px;
        margin: 0px;

    }

    .nav-links {
        list-style: inside;
        padding-top: 15px;
        padding-left: 5px;
        line-height: 30px;


    }

    button {
        width: 150px;
        height: 30px;
        padding: 5px 25px;
        margin-right: 200px;
        border: 1px, solid, black;
        border-radius: 50px;
        cursor: pointer;
        background-color: black;
        font-size: 15px;
        color: white;
    }

    .cta {
        margin: 95px;
    }

    .box2 {
        font-size: 15px;
        text-align: center;
    }

    .flexparent {
        display: flex;
        flex-direction: column;
    }

    .yoga2 {
        display: none;
    }

    .yogamob {
        display: block;
        width: 350px;
        height: 225px;
        padding-left: 50px;

    }

    .eten1 {
        display: none;

    }

    .etenmob {
        display: block;
        width: 350px;
        height: 225px;
        padding-left: 50px;

    }

    .mondiimg {
        display: block;
        width: 350px;
        height: 225px;
        padding-left: 2px;

    }



}